.login-div{
    top: 20%;
}

.login-button{
    width:90%;
    background-color: transparent;
}
.signUp-button{
    margin-top: 30px;
    width:90%;
    background-color: transparent;
}

.login-input{
background-color:transparent;
}

